<%= simple_form_for Message.new, url: conversation_messages_path(@conversation.id), method: :post do |f| %>
	<div id="textarea-placeholder"><%= f.input :body, input_html: {class: 'form-control'}, wrapper_html: {class: 'form-group'} %></div>
	<%= f.button :submit, "Reply", :class => 'btn btn-bookloop pull-right', wrapper_html: {class: 'form-group'} %>
<% end %>
