<li>
	<div class="row">
		<div class="col-md-1">
			<div class="avatar">
				<%= link_to (image_tag message.user.avatar.url, :class => 'img-circle'), user_path %>
			</div>
		</div>
		<div class="col-md-11">
			<p class="sender-name"><span class="message-time"><%= time_ago_in_words message.created_at %> ago <%= link_to message.user.name, message.user %> said:</span></p>
			<i><%= simple_format message.body %></i>
			
		</div>
	</div>

</li>
