<div ng-controller="DiscussionsCtrl" class="ui-discussions">
    <button>Start a discussion</button>

    <div class="new-discussion">
        <input placeholder="Quote" ng-model="discussion.quote">

        Page <input ng-model="discussion.page"> of <input ng-model="discussion.pages_total">.

        Quote: "{{discussion.quote}}"

        <button ng-click="newDiscussion(discussion)">Add</button>
    </div>

    <ul>
        <li ng-repeat="discussion in discussions">
            <h3>{{discussion.quote}}</h3>
            <ul>
                <li ng-repeat="comment in discussion.comments">
                    <a href="/users/{{comment.user.id}}" class="posted-by">
                        <span class="avatar"><img ng-src="{{comment.user.avatar_url}}" alt="{{comment.user.name}}"></span>
                        <span class="username">{{comment.user.name}}</span>
                    </a>

                    <div class="comment-body">
                        {{comment.message}}
                    </div>
                </li>
            </ul>

            <div class="ui-comment-form">
                <textarea ng-model="comment"></textarea>
                <button ng-click="submit_comment()">Add comment</button>
            </div>
        </li>
    </ul>
</div>
