<div ng-controller="DiscussionsCtrl" id="book-discussions">

    <ul class="discussions-bar" ng-click="showDiscussionForm($event)">
        <li ng-repeat="discussion in discussions" ng-class="{active:visibleDiscussion == discussion}" style="left: {{discussion.percentage}}%;">
            <span class="avatar" ng-click="showDiscussion(discussion, $event)"><img ng-src="{{discussion.user.avatar_url}}" alt="{{discussion.user.name}}"></span>
        </li>
        <li ng-show="tempImage && !visibleDiscussion" class="active" style="left: {{tempImage.percentage}}px;">
            <span class="avatar"><img src="{{user.avatar_url}}" alt="{{user.name}}"></span>
        </li>
    </ul>

    <%# Only shown when a visible discussion is present %>
    <div class="active-discussion" ng-show="visibleDiscussion">
        <span class="user-info">{{visibleDiscussion.user.name}}</span>
        <span class="time-info">{{visibleDiscussion.created_at}}</span>

        <h3>{{visibleDiscussion.quote}}</h3>
        <h4>{{visibleDiscussion.message}}</h4>

        <ul>
            <li ng-repeat="comment in visibleDiscussion.comments">
                <a href="/users/{{comment.user.id}}" class="posted-by">
                    <span class="avatar"><img ng-src="{{comment.user.avatar_url}}" alt="{{comment.user.name}}"></span>
                    <span class="username">{{comment.user.name}}</span>
                </a>

                <div class="comment-body">
                    {{comment.message}}
                </div>
            </li>
        </ul>

        <form name="comment_form" class="ui-comment-form" ng-submit="postComment($event, visibleDiscussion)" novalidate>
            <textarea name="message" placeholder="Write a comment..." ng-minlength="5" ng-model="newCommentText" ng-focus required></textarea>
            <span class="form-error" ng-show="comment_form.message.$dirty && comment_form.message.$invalid && !comment_form.message.$focused">You must provide a comment (at least 5 characters)</span>

            <input type="submit" ng-disabled="comment_form.$invalid" value="Post reply">
        </form>
    </div>

    <%# Only shown when newDiscussionForm is truthy %>
    <form name="discussion_form" id="discussion-container" class="new-discussion" ng-show="newDiscussionForm" ng-submit="newDiscussion($event, discussion)" novalidate>
        <div id="discussion-form">
            <textarea placeholder="&quot;So there is this quote...&quot;" name="quote" id="discussion-form-quote" ng-model="discussion.quote" class="input-large" ng-minlength="5" ng-focus required></textarea>
            <span class="form-error" ng-show="discussion_form.quote.$dirty && discussion_form.quote.$invalid && !discussion_form.quote.$focused">You must provide a quote</span>

            <span>Which is on page</span>
            <input type="number" name="page" id="page-number" ng-model="discussion.page" ng-focus class="input-xs" required>
            <span>out of</span>
            <input type="number" name="pages_total" id="total-pages" ng-model="discussion.pages_total" ng-focus class="input-xs" required>
            <span>total pages.</span>

            <span class="form-error" ng-show="discussion_form.page.$dirty && discussion_form.page.$invalid && !discussion_form.page.$focused">Page must be a valid number</span>
            <span class="form-error" ng-show="discussion_form.pages_total.$dirty && discussion_form.pages_total.$invalid && !discussion_form.pages_total.$focused">Total pages must be a valid number</span>

            <textarea name="message" id="discussion-form-comment" placeholder="And the reason I brought it up is..." ng-focus ng-model="discussion.message" required></textarea>
            <span class="form-error" ng-show="discussion_form.message.$dirty && discussion_form.message.$invalid && !discussion_form.message.$focused">You must provide a reason</span>
        </div><!-- /#discussion-form -->

        <div id="discussion-action">
            <input type="submit" ng-disabled="discussion_form.$invalid" value="Post" class="btn btn-default btn-sm pull-right">
            <div class="clearfix"></div>
        </div><!-- /#discussion-action -->
    </form>
</div>
