<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-md-offset-1" id="conversations">
					<label>Conversations</label>
					<% if @conversations.length > 0 %>
						<ul id="conversation-list">
						<% @conversations.each do |c| %>
							<li>
								<div class="row">
									<div class="col-md-1">
										
									</div>
									<div class="col-md-11">
										<h5><%= link_to c.messages.last.user.name, conversation_path(c) %></h5>
										<p>	
											<%= c.messages.last.body %>
											<%= link_to '', conversation_path(c), :confirm => 'Are you sure?', :class => 'conversation-remove', :method => :delete if c.owner?(current_user)%>
										</p>
									</div>
								</div>
							</li>
						<% end %>
						</ul>
					<% else %>
						<p>
							<em>Sorry you have no conversations to read.</em>
						</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>




