<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-md-offset-1" id="conversations">
					<label>Conversations</label>
					<% if @conversations.length > 0 %>
						<ul id="conversation-list">
						<% @conversations.each do |c| %>
							<% unless c.messages.empty? %>
							<li>
								<div class="row">
									<div class="col-md-1">
										<%= image_tag c.messages.last.user.avatar, :class => 'img-circle conversation-avatar' %>
									</div>
									<div class="col-md-11">
										<h5><span>Conversation started <%= time_ago_in_words c.created_at %> ago, between <%= link_to c.names_list, conversation_path(c) %></span></h5>
									</div>
								</div>
							</li>
							<% end %>
						<% end %>
						</ul>
					<% else %>
						<p>
							<hr>
							<label><em>Sorry, you have no conversations to read.</em></label>
						</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>




