<h1>Conversation</h1>

<p>
	<em>In this conversation: <%= @conversation.names_list %></em>
</p>

<% @messages.each do |m| %>
	<h4><%= m.user.name %> said <%= time_ago_in_words m.created_at %> ago:</h4>
	<blockquote><%= m.body %></blockquote>
<% end %>
