<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-md-offset-1" id="conversation">
					
					<% if @conversation.owner?(current_user) %>
					<p id="remove-conversation">
						<%= link_to 'Destroy', conversation_path(@conversation), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-default btn-sm pull-right' %>
					</p>
					<hr>
					<% end %>
					<ul id="messages-list">
						<%= render @messages %>
					</ul>
					<%= render 'messages/form' %>
				</div>
			</div>
		</div>
	</div>
</div>


