<h1>Conversation</h1>

<p>
	<em>In this conversation: <%= @conversation.names_list %></em>
</p>

<hr />

<h4>Reply to <%= @messages.last.user.name %></h4>
<%= render 'messages/form' %>

<ul>
	<%= render @messages %>
</ul>
