<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-8 col-md-offset-1" id="activity-feed">
					<h2><%= @group.title %></h2>
  				<p><em>This group was created by <%= link_to @group.owner.name, @group.owner %>.</em></p>

  				<% if @group.description.present? %>
  					<p><em><%= @group.description %></em>
  				<% end %>

    		</div>
			</div>
		</div>
	</div>
</div>
