<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
 				 <div align="center">
				  <h4>Discover other readers</h4>
					<% @users.each do |user| %>
					<ul>
						<%= image_tag user.avatar(:thumb), :class=>"img-circle" %> 
						<br> 
						<%=  link_to user.name, user %>
					</ul>

				<% end %>
				<%= will_paginate @users %>
				</div>
			</div>
		</div>
	</div>
</div>
