<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-8 col-md-offset-1" id="discover">
					<label>Discover other readers</label>
					<div class="row">
						<% @users.each do |user| %>
						<div class="col-md-2">
							<div class="avatar">
								<%= link_to (image_tag user.avatar(:thumb), :class=>"img-circle", :title => "#{user.name}", data: { toggle: "tooltip"}), user %>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('#discover img').tooltip({
		placement: 'bottom'
	});
</script>
