<!-- activity feed -->
<div class="col-md-8 col-md-offset-1" id="activity-feed">
    <label>Recent Activity</label>

    <ul id="recent-activity">
        <%= render @activities %>
    </ul>
    
	<%= will_paginate @activities %>
</div>
