<div class="x" align="center">
<div class="containerrr" align="center" style="max-width: 940px;">
  <div id="myCarousel" class="carousel slide">
  	<div class="carousel-inner">
  		<div class="item active">
  			<img src="https://s3.amazonaws.com/bklp/b1.png"></img>
  		</div>
  	</div>
    
   	  <h2 class="alice" align="center">Alice is currently reading:
   	   <a href="#2">Brave New World</a></h2>
   	
   
  </div>
  	<div class="featurette" id="2">
  		<img class="featurette-image pull-left" src="https://s3.amazonaws.com/bklp/s-l.png"></img>
  		<img class="featurette-image pull-right" src="https://s3.amazonaws.com/bklp/s-r.png"></img>
  		<h2 class="featurette-heading-so" align="center">So Are They.</h2>
  	</div>
    <div class="featurette">
  		<div class="carousel-inner">
       <div class="item active">
        <img src="https://s3.amazonaws.com/bklp/disc.png">
  	  	</div>
      </div>
  	  <h2 class="featurette-heading" align="center">Now They Can Discuss.</h2>
    </div>
  <hr class="featurette-divider">
  <br>
  <div class="featurette">
  	<img class="featurette-image pull-right" src="https://s3.amazonaws.com/bklp/fitz.png"></img>
  		<span class="span4" align="right">
  		  <h2 class="lead" style="padding-top: 100px;"> <span class="muted">'That is the beauty of all literature</span></h2>
  			<p class="lead"><i>You discover your longings are universal longings, that you're not lonely and isolated from anyone. You belong.</i></p>
  		</span>
  		<span class="span4" align="right">
  			<i>- F. Scott Fitzgerald</i>
  		</span>
  		</div>
  	  </div>
  	</div>
  </div>
      <hr class="featurette-divider">
  	   <div class="featurette" id="signup">
    <h1 align="center">Most People Don't read;</h1>
    <h1 align="center"><%= link_to "Find the ones who do.", new_user_registration_path, class: "button" %></h1>
  	   
  </div>