<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-8 col-md-offset-1">
				<div id="profile-content">
						<p class="grayhead">About Bookloop</p>
						<p class="body">Bookloop was created by <a href="/users/1">Grant Wenzlau</a>. Grant is a designer and strategist based in Los Angeles. He is the co-founder of the creative studio <a href="http://www.ossodesign.co">OSSO</a>.<br><br>
							The goal with Bookloop is to create a space for online book clubs. This is an early iteration, but we are working to add features and improve existing ones.<br><br>
						If you have any questions or suggestions about Bookloop, send an email <a href="mailto:thescoop@bookloop.co">here</a>.</p>
					</div>
			</div>