<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-8 col-md-offset-1">
				<div id="profile-content">
						<p class="grayhead">About Bookloop</p>
						<p class="body">The goal of Bookloop is to create a global book club. The dream is that whatever book you are reading, you can find someone, somewhere reading it, and discuss it with them.<br> <br>
							This is an early iteration, but we are working to add features and improve existing ones.
						If you have any questions or suggestions about Bookloop, or would like to help, send an email to us <a href="mailto:thescoop@bookloop.co">here</a>. <br><br>
						Bookloop was created by <a href="/users/1">Grant Wenzlau</a>. Grant is a designer and strategist based in Los Angeles. He is the co-founder of the creative studio <a href="http://www.ossodesign.co">OSSO</a>.<br><br></p>
					</div>
			</div>