<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-8 col-md-offset-1" id="discover">
					<h1 align="center">Discover</h1>
					<br>
					<div class="row">
					<div class="col-md-6" id="users">
						<% @users.each do |user| %>
						<div class="col-md-2 user">
							<div class="avatar">
								<%= link_to (image_tag user.avatar(:thumb), :class=>"img-circle", :title => "#{user.name}", data: { toggle: "tooltip"}), user %>
							</div>
						</div>
						<% end %>
					</div>
					<div class="col-md-6" id="reads">
						<% @books.each do |book| %>
							<div class="col-md-2 book">
    						<%= link_to (image_tag ("http://images.amazon.com/images/P/#{book.isbn}.01.LZZZZZZ.jpg"), :title => "#{book.title}", data: { toggle: "tooltip"}), book_path("#{book.id}-#{book.title.parameterize}") %>
    					</div>
						<% end %>

					</div>
				</div>
				</div>
				<!-- <div class="col-md-8 col-md-offset-1" id="discover-users">
					<label align="center">Discover <br> Books</label>
					<% @disco.each do |discussion| %>
					<% discussion.quote %>
					<% end %>
				</div> -->
		
			</div>

		</div>

	</div>
</div>
<script>
	$('#discover img').tooltip({
		placement: 'bottom'
	});
</script>
