<% if user_signed_in? %>
<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<%= render 'pages/feed' %>
			</div>
		</div>
	</div>
</div>
<% else %>
<%= render 'pages/walkthru' %>
<% end %>
