<% if user_signed_in? %>
 <h1 align="center"><%= link_to "BookFeed", root_url %> </h1>
   <h6 align="center"><%= link_to "(DISCOVER OTHER READERS)", users_path %> </h6>
   <hr>
    <%= render 'pages/feed' %>


<% else %>
  <%= render 'pages/walkthru' %>

<% end %>

