<h2>Search results</h2>

<div class="bl-book-page">
	
	<% if @results.total_result == '0' %>
		Sorry, we could not find any books searching: "<%= params[:q] %>"
	<% else %>
		<ul>
			<% @results.results.work.each do |book| %>
					<li>
<%= link_to book.best_book.title, book_path("#{book.best_book.id}") %> by <%= link_to book.best_book.author.name, author_book_path("#{book.best_book.author.id}") %>  with <%= Book.all.where(:olidb => book.best_book.id).count %> other readers.
					</li>
			<% end %>
		</ul>
	<% end %>
	
</div>
