<h2>Search results</h2>

<div class="bl-book-page">
	
	<% if @results.count > 1 %>
		Sorry, we could not find any books searching: "<%= params[:q] %>"
	<% else %>
		<ul>
			<% @results.each do |book| %>
					<li>
						<%= link_to book.title, book_path("#{book.id}-#{book.title.parameterize}") %></li>
					</li>
			<% end %>
		</ul>
	<% end %>
	
	<%= @results %>
	
</div>
