<ul>
	<% @result.each do |result| %>
		<li><%= link_to result.title, book_path(result.id) %></li>
	<% end %>
	
	<% if @result.blank? %>
		We did not find anyhting in our database.<br /><br />
		<%= link_to "Let us find and import it for you on Goodreads", brapi_path(:search => params[:search]) %>
	<% end %>
</ul>