<div align="center">
<% if current_user == @link.user %>
				 <%= link_to 'Edit', edit_link_path(@link) %> |  
				 <%= link_to 'Delete', @link, method: :delete, data: {confirm: 'Are you sure?'} %>
				 <% end %>
				</div>