$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;

@import 'bootstrap';

body{
    padding-top: 50px;
}

@import 'bootstrap-responsive';

h1, h2 {
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-right: -10px;
}
.brand {
  letter-spacing: 2px;
}

.footer{
    color: $black;
    a{
        color: $gray;
    }
}
a {
  color: #0390FF;
}
a:hover {
  color: #23F197;
}

input.search-query {
padding-right: 90px;
padding-right: 4px \9;
padding-left: 90px;
padding-left: 4px \9;
margin-bottom: 0;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.author-link{
  color: #2C66FA
  
}
.title-link {
  color: #88F5AF;
}


.img-circle {
height: 150px;
}
.book-cover {
	height: 270px;
}
.avatar-small{
	border-radius: 500px;
}

div.bl-book-page a:hover {
	color: #45F3A7;
}

.feed {
	font-size: 20px;
	letter-spacing: 0px;
}

.feed-activity a {
color: #23F197;
font-weight: bold;
}
.feed-activity a:hover {
	color: #0390FF;
	}

.article-feed a {
	color: #B41F49
}
.article-feed a:hover {
	color: #F3376C
}
.feed-sub a{
  font-size: 14px;
  color: #CECECE
}
.feed-sub a:hover{
  color: #ADA88F
}
.img-circle-thumb {
  border-radius: 500px; 
height: 50px;
}
.img-circle-thumb:hover {
  border-radius: 500px; 
height: 55px;
}

.read-col {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    column-count: 2;
    column-gap:10px;
}

.auth-pro {
    border-radius: 100px; 
}
.bg {
  padding-top: 200px;
  padding-bottom: 300px;
  background-image: url('home-bg.png');
  border-radius: 8px;
    h1{
    font-size: 43px;
    }
}
#mod-search{
  margin-top: 3px;
  padding-top: 3px;
}
.follow-feed a{
  color:#0390FF;
}
.follow-feed a:hover{
    color: #23F197;
}
.feed-comment {
  font-size: 11px;
    a{
    color: #5900B9;
    }
}
.pr-feed a{
  color: #089B5B;
}