$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;

@import 'bootstrap';

body{
    padding-top: 50px;
}

@import 'bootstrap-responsive';

h1, h2 {
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-right: -10px;
}
.brand {
  letter-spacing: 2px;
}

.footer{
    margin-top: 500px;
    color: $black;
    a{
        color: $gray;
    }
}
a {
  color: #0390FF;
}
a:hover {
  color: #88F5AF;
}

input.search-query {
padding-right: 90px;
padding-right: 4px \9;
padding-left: 90px;
padding-left: 4px \9;
margin-bottom: 0;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.author-link{
  color: #2C66FA
  
}
.title-link {
  color: #88F5AF;
}


.img-circle {
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;	
height: 150px;
}
.book-cover {
	hieght: 270px;
}
.avatar-small{
	border-radius: 500px;
}

div.bl-book-page a:hover {
	color: #45F3A7;
}

.feed {
	font-size: 20px;
	letter-spacing: 0px;
}

.feed-activity a {
color: #23F197;
font-weight: bold;
}
.feed-activity a:hover {
	color: #0390FF;
	}

.article-feed a {
	color: #B41F49
}
.article-feed a:hover {
	color: #F3376C
}
.feed-sub a{
  font-size: 14px;
  color: #CECECE
}
.feed-sub a:hover{
  color: #ADA88F
}
.img-circle-thumb {
  border-radius: 500px; 
height: 50px;
}
.img-circle-thumb:hover {
  border-radius: 500px; 
height: 55px;
}