$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;

@import 'bootstrap';

body{
    padding-top: 50px;
}


@import 'bootstrap-responsive';

h1, h2 {
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-right: -10px;
}
.brand {
  letter-spacing: 2px;
}

.footer{
    color: $black;
    a{
        color: $gray;
    }
}
a {
  color: #0390FF;
}
a:hover {
  color: #23F197;
}


.author-link{
  color: #2C66FA
  
}
.title-link {
  color: #88F5AF;
}

.img-circle {
height: 150px;
}
.book-cover {
	height: 270px;
}

div.bl-book-page a:hover {
	color: #45F3A7;
}

                                            /* start PROFILE */

.avatar-small{
  border-radius: 500px;
}
.img-circle-thumb {
  border-radius: 500px; 
height: 50px;
}
.img-circle-thumb:hover {
  border-radius: 500px; 
height: 55px;
}

.read-col {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    column-count: 2;
    column-gap:10px;
}

.auth-pro {
    border-radius: 100px; 
}
.bg {
  padding-top: 200px;
  padding-bottom: 300px;
  background-image: url('home-bg.png');
  border-radius: 8px;
    h1{
    font-size: 43px;
    }
}

                                            /* end PROFILE */

                                            /* Start FEED */

.feed {
  font-size: 20px;
  letter-spacing: 0px;
}

.feed-activity a {
color: #23F197;
font-weight: bold;
}
.feed-activity a:hover {
  color: #0390FF;
  }

.article-feed a {
  color: #B41F49
}
.article-feed a:hover {
  color: #F3376C
}
.feed-sub a{
  font-size: 14px;
  color: #CECECE
}
.feed-sub a:hover{
  color: #ADA88F
}

.follow-feed a{
  color:#0390FF;
}
.follow-feed a:hover{
    color: #23F197;
}
.feed-comment {
  font-size: 11px;
    a{
    color: #5900B9;
    }
}
.pr-feed a{
  color: #089B5B;
}
.feed-rec a{
  color: #DDBB0A;
}
                                            /* end FEED */

                                            /* Start WALKTHRU */
.featurette-heading-so{
  padding-top: 400px;
}
.carousel img {
top: 0;
left: 0;
min-width: 100%;
}

.alice {
  padding-bottom: 200px;
}
#signup {
  padding: 100px;
}


                                            /* end WALKTHRU */


                                            /* Start SEARCH */

#mod-search{
  margin-top: 3px;
  padding-top: 3px;
}

#search-form{
position: relative;
display: block;
width: 498px;
margin: 0 auto;
margin-top: 13px;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
form {
  margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
.form {
  margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}


input#search {
  display: block;
width: 100%;
text-align: center;
height: 33px;
margin: 0 auto;
font-size: 19px;
font-family: 'Cantarell', sans-serif;
text-transform: uppercase;
color: #424242;
font-weight: bold;
border: 0;
border-bottom: #dfdfdf 1px solid;
margin: 0;
letter-spacing: .15em;
}
.indx {
    display: block;
width: 100%;
text-align: center;
height: 33px;
margin: 0 auto;
font-size: 19px;
font-family: 'Cantarell', sans-serif;
text-transform: uppercase;
color: #424242;
font-weight: bold;
border: 0;
border-bottom: #dfdfdf 1px solid;
margin: 0;
letter-spacing: .15em;
}
.search_btn {
  position: absolute;
right: 20px;
top: 12px;
background: url(https://s3.amazonaws.com/bklp/search.png) -18px 0 no-repeat;
height: 14px;
width: 18px;
border: none;
overflow: hidden;
text-indent: -7777px;
}

input#search {
display: block;
width: 100%;
text-align: center;
height: 33px;
margin: 0 auto;
font-size: 19px;
font-family: 'Cantarell', sans-serif;
text-transform: uppercase;
color: #424242;
font-weight: bold;
border-top-color: initial;
border-top-style: initial;
border-top-width: 0px;
border-right-color: initial;
border-right-style: initial;
border-right-width: 0px;
border-bottom-color: rgb(223, 223, 223);
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: initial;
border-left-style: initial;
border-left-width: 0px;
border-bottom: #dfdfdf 1px solid;
margin: 0;
letter-spacing: .15em;
}

input#search_btn{
  position: absolute;
right: 20px;
top: 12px;
background: url(search.png) -18px 0 no-repeat;
height: 14px;
width: 18px;
border: none;
overflow: hidden;
text-indent: -7777px;
}
input[type="submit"] {
  cursor: pointer;
  align-items: flex-start;
text-align: center;
box-sizing: border-box;

}
input {
  letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
-webkit-writing-mode: horizontal-tb;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #eeeeee;
}
            /* end SEARCH */

.dropdown-menu {
  display: none;
}

  ul:hover > ul {
    display: block;
  }
  ul {
  position: absolute; left: 100%; top:0;
}