has read
<% if activity.trackable %>
	 <%= link_to Book.find_by_id(activity.trackable.id).title, book_path(Book.find_by_id(activity.trackable.id).olidb) %>.
	 	 <span class="feed-sub">
	<small><br>
	    <a href="#" id="al-<%= activity.id %>">Comment</a>
	  </small>
	</span>
<% else%>
	some book that has since been removed.
<% end %>