has read
<span class="pr-feed">
<% if activity.trackable %>
	 <%= link_to Book.find_by_id(Archive.find(activity.trackable.id).book_id).title, book_path("#{Book.find_by_id(Archive.find(activity.trackable.id).book_id).id}-#{Book.find_by_id(Archive.find(activity.trackable.id).book_id).title.parameterize}") %>
	</span>
	 <span class="feed-sub">
	<small><br>
	    <a href="#" id="al-<%= activity.id %>">Comment</a>
	  </small>
	</span>
<% else%>
	some book that has since been removed.
<% end %>