recommended
<% if activity.trackable %>
	<%= link_to Book.find_by_id(activity.trackable.id).title, book_path(Book.find_by_id(activity.trackable.id).olidb) %>
		 <span class="feed-sub" align="center">
	<small><br>
	    <a href="#" id="al-<%= activity.id %>">Comment</a>
	  </small>
	</span>
<% else %>
	a book which has since been abandoned.
<% end %>