<% if activity.trackable %>
<span class="pr-feed">
	finished reading: <%= link_to Book.find_by_id(activity.trackable.id).title, book_path(Book.find_by_id(activity.trackable.id).id) %>
</span>
		 <span class="feed-sub">
	<!-- <small><br>
	    <a href="#" id="al-<%= activity.id %>">Comment</a>
	  </small> -->
	</span>
<% else%>
	finished a book that has since been removed.
<% end %>