<!-- sidebar -->
<div class="col-md-2" id="sidebar">
	<label>Browse</label>
	<ul class="nav nav-pills nav-stacked menu">
			<li><a id="discover" href="#_">Discover</a></li>
			<li><a href="" id="group">Groups</a></li>
	</ul>
	<hr>
	<label>Your Books</label>
	<ul class="nav nav-pills nav-stacked menu">
			<li><%= link_to "Current Reads", current_user, :id => "current" %></li>
			<li><a href="" id="future">Future Reads</a></li>
			<li><a href="" id="past">Past Reads</a></li>
	</ul>
	<hr>
	<label>You</label>
	<ul class="nav nav-pills nav-stacked menu">
			<li><a href="" id="messages">Messages</a></li>
			<li><%= link_to "Settings", edit_user_registration_path, :id => "settings" %></li> </li>
	</ul>
</div>
